/* Banenr轮播-start */
.banner{
	width: 750upx;
	height: 440upx;
}
/* Banenr轮播-end */

/* 热门超英-start */
.super-hot{
	margin-top: 12upx;
	padding: 20upx;
}
.hot-title-wapper{
	display: flex;
	flex-direction: row;
	// line-height: 60upx;
	.icon-hot{
		width: 30upx;
		height: 30upx;
		margin-top: 15upx;
	}
	.hot-title{
		font-size: 40upx;
		text-indent: 20upx;
		font-weight: bold;
	}
}
.hot-content{
	width: 100%;
	// 是否允许换行
	white-space: nowrap;
	.m-poster{
		display: inline-block;
		margin-top:20upx;
		margin-left: 20upx;
		margin-bottom: 20upx;
		.poster-wapper{
			display: flex;
			flex-direction: column;
			.poster-img{
				width: 200upx;
				height: 270upx;
			}
			.movie-name{
				padding:10upx;
				width:180upx;
				font-size: 28upx;
				font-weight: bold;
				// name省略号
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		// 评分样式
		.movie-score-wapper{
			display: flex;
			flex-direction: row;
			padding-left: 10upx;
			// justify-content: center;
			.icon-star{
				width: 20upx;
				height: 20upx;
				margin-top: 6upx;
			}
			.movie-score{
				font-size: 24upx;
				color: grey;
				margin-left: 8upx;
			}
		}
	}
}
/* 热门超英-end */
