.m-form{
	border-top: solid 1px #dbdbda;
	padding: 0 40upx;
	.avatar-wrap{
		margin: 80upx 0;
		text-align: center;
		.img-avatar{
			width: 160upx;
			height: 160upx;
		}
	}
	.ipt-box{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 30upx 20upx;
		border-bottom: solid 1px #dbdbda;
	}
	.ipt-username{
		margin-left: 20upx;
		width:  500upx;
	}
	.ipt-btn{
		margin-top: 80upx;
		padding: 10upx 20upx;
	}

}

.g-third{
	margin-top: 60upx;
	padding: 0 60upx;
}
.m-third{
	.tit-wrap{
		margin: 60upx 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		line-height: 60upx;
		.tit{
			margin: 0 30upx;
			font-size: 32upx;
			color: #666;
		}
		.line{
			width: 200upx;
			height: 1px;
			// line-height: 60upx;
			margin-top: 29upx;
			background-color: #666;
		}
	}
	.m-tlogin{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.btn-wx{
			padding: 0;
			background-color:none;
			width:120upx;
			height:120upx;
			border-radius: 50%;
		}
		.icon-third{
			width: 120upx;
			height: 120upx;
		}
	}
}