.g-box{
	
}
.g-hd{
	/* #ifndef MP */
		padding: 120upx 30upx 40upx;
	/* #endif */
	/* #ifdef MP */
		padding: 120upx 30upx 40upx;
	/* #endif */
	background-color: #ffd655;
	background: url(http://122.152.205.72:88/group1/M00/00/03/CpoxxFwu_1OAYFAIAAAzO_Q1tPg693.png) repeat-x;
}
.m-hd{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.img-avatar{
		width: 120upx;
		height: 120upx;
		border-radius: 50%;
	}
	.info{
		width: 80%;
		align-content: flex-start;
	}
	.info-wrap{
		margin-left: 40upx;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.nickname{
			color: #6a5018;
			font-size: 36upx;
			font-weight: 700;
		}
		.username{
			color: #a38e62;
			font-size: 28upx;
			margin-top: 10upx;
		}
	}
	.icon-setting{
		width: 40upx;
		height: 40upx;
	}
	
}