.g-box{
	background-color: #F7F7F7;
}
.g-hd{
	width: 750upx;
	height: 440upx;
	position: relative;
	// .m-video{
	// 	width: 750upx;
	// 	height: 440upx;
	// }
	.u-video{
		width: 750upx;
		height: 440upx;
	}
}

.g-bd{
	padding: 40upx 20upx;
	background-color: #F7F4F9;
}
.m-info{
	// padding: 40upx 20upx;
}