.m-form{
	padding:20upx 40upx;
	.ipt-box{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 30upx 20upx;
		border-bottom: solid 1px #dbdbda;
	}
	.ipt-username{
		margin-left: 20upx;
		width:  500upx;
	}
	.ipt-btn{
		margin-top: 80upx;
		padding: 10upx 20upx;
	}
	.radio-wrap{
		width: 670upx;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 30upx 0;
		border-bottom: solid 1px #dbdbda;
	}
}